.listStyle {
  list-style: none;
  margin: 0 auto;
  padding: 0;
}

.li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: .5rem;
}

.input {
  margin-right: 1rem;
}

.btn {
  background-color: red;
  border-radius: 50%;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
}
.done{
  text-decoration: line-through;
}
.form{
  margin-bottom: 1rem;
}
